@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 281 50% 98%;
    --foreground: 281 10% 20%;

    --card: 281 50% 98%;
    --card-foreground: 281 10% 20%;

    --popover: 281 50% 98%;
    --popover-foreground: 281 10% 20%;

    --primary: 309 56% 22%;
    --primary-foreground: 0 0% 100%;

    --secondary: 281 20% 90%;
    --secondary-foreground: 281 10% 20%;

    --muted: 281 20% 90%;
    --muted-foreground: 281 10% 45%;

    --accent: 328 76% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 281 20% 85%;
    --input: 281 20% 85%;
    --ring: 309 56% 22%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 309 56% 12%;
    --foreground: 0 0% 100%;

    --card: 309 56% 16%;
    --card-foreground: 0 0% 100%;

    --popover: 309 56% 16%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 309 56% 12%;
    
    --secondary: 309 56% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 309 56% 20%;
    --muted-foreground: 281 10% 75%;

    --accent: 328 76% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 309 56% 25%;
    --input: 309 56% 25%;
    --ring: 328 76% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .linqup-text {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 900;
    font-size: 40px;
    fill: currentColor;
  }
}

@keyframes bounce-dot {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}

.bounce-1 {
  animation: bounce-dot 1.4s infinite ease-in-out both;
}

.bounce-2 {
  animation: bounce-dot 1.4s infinite ease-in-out 0.16s both;
}

.bounce-3 {
  animation: bounce-dot 1.4s infinite ease-in-out 0.32s both;
}


@keyframes loading-dots {
  0%, 100% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(150%);
  }
}
