@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 275 60% 99%;
    --foreground: 300 5% 10%;

    --card: 0 0% 100%;
    --card-foreground: 300 5% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 300 5% 10%;

    --primary: 285 45% 30%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 300 5% 95%;
    --secondary-foreground: 300 5% 10%;

    --muted: 300 5% 90%;
    --muted-foreground: 300 5% 45%;

    --accent: 328 76% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 300 5% 88%;
    --input: 300 5% 88%;
    --ring: 285 45% 30%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 285 45% 30%;
    --foreground: 0 0% 100%;

    --card: 275 45% 33%;
    --card-foreground: 0 0% 100%;

    --popover: 300 5% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 277 33% 84%;
    --primary-foreground: 275 45% 28%;
    
    --secondary: 300 5% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 300 5% 25%;
    --muted-foreground: 300 5% 65%;

    --accent: 328 76% 63%;
    --accent-foreground: 275 45% 28%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 300 5% 25%;
    --input: 300 5% 25%;
    --ring: 328 76% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.linqup-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 900;
  font-size: 60px;
  fill: currentColor;
}
